:root {
    --azul-oscuro: #202531;
    --gris-oscuro: #505E75;
    --naranja: #EB5C21;
    --gris-claro: #D7D9D8;
    --blanco: #FFFFFF;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fuente/avenir-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fuente/avenir-black.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fuente/avenir-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
footer {
  background-color:var(--azul-oscuro);
  color: #eee;
  font-family: 'Avenir';
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  min-height: 50vh;
}

.footer-left {
  flex: 1 1 350px;
  min-width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-left h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-left p {
  margin: 10px 0;
}
.footer-left a {
  color: var(--naranja);
  text-decoration: none;
}

.footer-form {
  margin-top: 30px;
}

.footer-form form {
  display: flex;
  flex-direction: column;
}

.footer-form input,
.footer-form textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: 'Avenir';
  resize: vertical;
}

.footer-form button {
  background-color:var(--naranja);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
.footer-form button:hover {
  background-color: var(--gris-oscuro);
  transition: ease-in-out 0.3s;
}

.footer-right {
  flex: 1 1 350px;
  min-width: 300px;
  margin: 10px;
  display: flex;
  align-items: stretch; /* Cambiado de flex-start a stretch */
  justify-content: center;
}

.footer-right iframe {
  display: block;
  width: 100%;
  height: 100%; /* Ocupa todo el alto del contenedor */
  margin-top: 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.13);
}

.derechos{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
  font-size: 16px;
  margin-top: 0;
  border-top: 1px solid #333;
}

@media screen and (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    gap: 0;
    padding: 40px;
    margin: 0px;
    min-height: 10vh;
  }
  .footer-left, .footer-right {
    margin: 0 0 30px 0;
    min-width: 0!important;
    width: 100%;
  }
  .footer-form textarea {
    width: 100%;
  }
  .footer-right iframe {
    height: 220px;
    width: 100%;
  }
  .footer-right {
    flex: 1 1 100%;
    height: 100%;
    align-items: center; /* Centrado vertical */
  }
}